[submodule "packages/openai/ABCard"]
	path = packages/openai/ABCard
	url = https://github.com/kaima2022/ABCard.git
[submodule "packages/general/any-auto-register"]
	path = packages/general/any-auto-register
	url = https://github.com/lxf746/any-auto-register.git
[submodule "packages/email/cloudflare_temp_email"]
	path = packages/email/cloudflare_temp_email
	url = https://github.com/dreamhunter2333/cloudflare_temp_email.git

[submodule "packages/openai/chatgpt-creator"]
	path = packages/openai/chatgpt-creator
	url = https://github.com/verssache/chatgpt-creator.git
[submodule "packages/gemini/gemini-balance-do"]
	path = packages/gemini/gemini-balance-do
	url = https://github.com/zaunist/gemini-balance-do.git
[submodule "packages/codex/codex-lb"]
	path = packages/codex/codex-lb
	url = https://github.com/Soju06/codex-lb.git
[submodule "packages/openai/openai-oauth"]
	path = packages/openai/openai-oauth
	url = https://github.com/EvanZhouDev/openai-oauth.git
[submodule "packages/claude/claude-key-switch"]
	path = packages/claude/claude-key-switch
	url = https://github.com/sepmein/claude-key-switch.git
[submodule "packages/general/Ultimate-openai-gemini-claude-api-key-scraper"]
	path = packages/general/Ultimate-openai-gemini-claude-api-key-scraper
	url = https://github.com/shjee-afridi/Ultimate-openai-gemini-claude-api-key-scraper.git
[submodule "packages/general/grok-register"]
	path = packages/general/grok-register
	url = https://github.com/509992828/grok-register.git
[submodule "packages/general/MREGISTER"]
	path = packages/general/MREGISTER
	url = https://github.com/Maishan-Inc/MREGISTER.git
[submodule "packages/codex/codex_register"]
	path = packages/codex/codex_register
	url = https://github.com/kschen202115/codex_register.git
[submodule "packages/codex/codex-register-fix"]
	path = packages/codex/codex-register-fix
	url = https://github.com/917017420/codex-register-fix.git
[submodule "packages/email/msOauth2api"]
	path = packages/email/msOauth2api
	url = https://github.com/HChaoHui/msOauth2api.git
[submodule "packages/email/Hotmail-Outlook-Create-Account-Register-Auto"]
	path = packages/email/Hotmail-Outlook-Create-Account-Register-Auto
	url = https://github.com/SeseydOw/Hotmail-Outlook-Create-Account-Register-Auto.git
[submodule "packages/email/outlook-auto-register"]
	path = packages/email/outlook-auto-register
	url = https://github.com/Asunfly/outlook-auto-register.git
[submodule "packages/general/cursor-auto-register"]
	path = packages/general/cursor-auto-register
	url = https://github.com/VictorKTO/cursor-auto-register.git
[submodule "packages/general/ExaFree"]
	path = packages/general/ExaFree
	url = https://github.com/chengtx809/ExaFree.git
[submodule "packages/email/tempmail"]
	path = packages/email/tempmail
	url = https://github.com/123nhh/tempmail.git
